<!------------------------------------------------------ 
Debe mostrarse la información del primer monstruo sin
usar el id.
Se debe mostrar el nombre (como título) y la descripción 
(como párrafo).
------------------------------------------------------>
<h1><%=t=Monstruo.first.nombre%> </h1>
<h3><%=Monstruo.first.descripcion%></h3>


